<!DOCTYPE html>
<html>
<head>
<style type="text/css">
#c1 {background-color:#69ff61;}
#c2 {background-color:#fff94f;}
#c3 {background-color:#ff4f4f;}
</style>
<meta charset="UTF-8">
<title>All mail</title>
</head>
<body>
<script type = "text/javascript" src="sortByCols.js"></script>

<table id="table" style="width:100%" border="1">
  <tr>
    <th onclick="sortTable(0)">Date</th>
    <th onclick="sortTable(1)">Sender email</th>
    <th onclick="sortTable(2)">Subject</th> 
    <th onclick="sortTable(3)">Content</th>
  </tr>
<tr id="c3">
<td>Fri Aug 30 17:54:01 EEST 2019</td>
<td>Karlis Reinis Ulmanis <Karlis.Ulmanis@hansab.lv></td>
<td>ERROR: Problems with SYSTEM1</td>
<td>javax.mail.internet.MimeMultipart@1cb0343</td>
</tr>
<tr id="c2">
<td>Fri Aug 30 17:54:29 EEST 2019</td>
<td>Karlis Reinis Ulmanis <Karlis.Ulmanis@hansab.lv></td>
<td>WARNING: Problems with SYSTEM1</td>
<td>javax.mail.internet.MimeMultipart@6d991ab5</td>
</tr>
<tr id="c3">
<td>Fri Aug 30 17:54:57 EEST 2019</td>
<td>Karlis Reinis Ulmanis <Karlis.Ulmanis@hansab.lv></td>
<td>ERROR: Problems with SYSTEM2</td>
<td>javax.mail.internet.MimeMultipart@2a810d62</td>
</tr>
<tr id="c1">
<td>Fri Aug 30 17:55:15 EEST 2019</td>
<td>Karlis Reinis Ulmanis <Karlis.Ulmanis@hansab.lv></td>
<td>INFO: Info regarding SYSTEM2 status</td>
<td>javax.mail.internet.MimeMultipart@4d549454</td>
</tr>
<tr id="c3">
<td>Wed Sep 04 12:03:48 EEST 2019</td>
<td>Karlis Reinis Ulmanis <Karlis.Ulmanis@hansab.lv></td>
<td>ERROR: Problems with SYSTEM1</td>
<td>javax.mail.internet.MimeMultipart@145c47a6</td>
</tr>
<tr id="c3">
<td>Wed Sep 04 12:04:09 EEST 2019</td>
<td>Karlis Reinis Ulmanis <Karlis.Ulmanis@hansab.lv></td>
<td>ERROR: Problems with SYSTEM2</td>
<td>javax.mail.internet.MimeMultipart@31b5bb2a</td>
</tr>
<tr id="c1">
<td>Wed Sep 04 12:07:34 EEST 2019</td>
<td>Karlis Reinis Ulmanis <Karlis.Ulmanis@hansab.lv></td>
<td>INFO: Info regarding SYSTEM1 status</td>
<td>javax.mail.internet.MimeMultipart@137d5a63</td>
</tr>
</table>

</body>
</html>